@use "./variables";

// About

.about-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 3.5rem;
    padding-bottom: 5rem;

    .right-about {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;

        .about-item {
            border: 1px solid variables.$grey-5;
            border-radius: 5px;
            transition: all .4s ease-in-out;
            box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.1);

            &:hover {
                cursor: default;
                transform: translateY(-5px);
                border: 1px solid variables.$secondary;
                box-shadow: 1px 4px 15px rgba(0, 0, 0, 0.32);
            }
        }
    }
}