@use './variables';

/* Controls */
.controls {
  position: fixed;
  z-index: 10;
  top: 60%;
  right: 1.5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateY(-50%);

  .active-btn {
    background-color: variables.$secondary !important;
    transition: all 0.4s ease-in-out;

    i {
      color: variables.$white !important;
    }
  }

  .control {
    padding: 1rem;
    cursor: pointer;
    background-color: variables.$grey-4;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin-top: 0.1rem;
    margin-bottom: 0.7rem;
    box-shadow: variables.$box-shadow-1;
    span {
      color: white;
    }
    i {
      font-size: 1.2rem;
      color: variables.$grey-2;
      pointer-events: none;
    }
  }
}
