@use "./variables";

// Contact Section

.contact-content-con{
    display: flex;
    padding-top: 3.5rem;
    .left-contact{
        flex:2;
        h4{
            margin-top: 1rem;
            font-size: 2rem;
            text-transform: uppercase;
        }
        p{
            margin: 1rem 0;
            line-height: 2rem;
        }
        .contact-info{
            .contact-item{
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            p{
                margin: .3rem 0;
                padding: 0;
            }
            i{
                display: flex;
                align-items: center;
                font-size: 1.3rem;
            }
        }
        .contact-icon{
            display: flex;
            margin-top: 2rem;
            justify-content: space-between;
            a{
                display: flex;
                align-items: center;
                color: variables.$white;
                background-color: variables.$grey-5;
                justify-content: center;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                margin: 0 .4rem;
                transition: all .4s ease-in-out;
                &:hover{
                    background-color: variables.$secondary;
                    i{
                        color: variables.$primary;
                    }
                }
                i{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 1.3rem;
                }
            }
        }
    }

    .right-contact{
        flex: 3;
        margin-left: 3rem;
        .input-control{
            margin: 1.5rem 0;
            input, textarea{
                border-radius: 30px;
                font-weight: inherit;
                font-size: inherit;
                font-family: inherit;
                padding: .8rem 1.1rem;
                outline: none;
                border: none;
                background-color: variables.$grey-5;
                width: 100%;
                color: variables.$white;
                resize: none;
            }
        }
        .i-c-2{
            display: flex;
            :last-child{
                margin-left: 1.5rem;
            }
        }
        .submit-btn{
            display: flex;
            justify-content: flex-start;
        }
    }
}