@use "./variables";

@media (max-width: 975px) {
    
    .theme-btn{
        width: 50px;
        height: 50px;
        top: 9%;
        left: 4%;
    }
    .header-content{
        flex-direction: column;
        align-items: center;
        margin-top: 80px;
        .right-header{
            padding-top: 20px;
            width: 75%;
            .name{
                font-size: 2rem;
            }
            p{
                margin: .75rem 0;
                line-height: 1.5rem;
            }
        }
        .left-header{
            padding-top: 15px;
        }
    }
    .wrapper{
        h2{
            font-size: 3rem;
            .bg-text{
                font-size: 4rem;
            }
        }
    }

// ABOUT SECTION 
    .about{
        width: 95%;
        .about-container, .skills-container{
            // padding-top: 0;
            .tech-container{
                width: 100%;
            .tech{
                    flex-basis: 30%;
                    margin: 10px;
                    padding: 5px;                    
                    p{
                        line-height: 1.2rem;
                        text-align: center;
                    }
                }
            }
        }
    }
    .about-info p {
        line-height: 1.5rem;
    }
    .main-title{
        padding-top: 3rem;
    }  

// PORTFOLIO SECTION 
    .portfolio-item{
        flex-direction: column-reverse;
        .project-image{
            width: 80%;
        }
        .text-container{
            width: 80%;
            .description{
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            .links{
                justify-content: center;
            }
        }
    }

// BLOG SECTION

    .blogs {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: .25rem;
        .blog{
            width: 90%;
            h4{
                font-size: 1.25rem;
            }
            p{
                line-height: 1.25rem;
            }
        }
    }

// FORM SECTION
    .contact-content-con {
        display: flex;
        flex-direction: column-reverse;
        .right-contact{
            margin-left: 0;
            .submit-btn{
                justify-content: center;
            }
        }
        .left-contact{
            h4{
                text-align: center;
            }
        }
    }

}

@media (max-width: 750px) {
    .blogs {
        grid-template-columns: repeat(1, 1fr);
    }

    .contact-content-con {
        padding-top: 2.25rem;
    }
}



@media (max-width: 600px) {
    header {
        width: 100%;
        .header-content .left-header .h-shape {
            display: none;
        }
    }
    
    .controls{
        top: 0;
        bottom: auto;
        flex-direction: row;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        background-color: variables.$grey-5;
        .control{
            margin: 1rem .5rem;
        }
    }
    .main-title{
        padding-top: 125px;
    }
    .portfolios .portfolio-item {
        .project-image{
            width: 100%;
        }
        .text-container{
            width: 100%;
        }
    } 
    .port-text{
        padding-top: 4rem;
    }

    .contact-content-con .right-contact .submit-btn {
        justify-content: center;
    }
}

@media (max-width: 490px) {
    
    .header-content{
        .left-header {
            .image{
                margin-left: 1.5rem;
            }
        }
    }
    
    .theme-btn{
        top: 15%;
        left: 2.25%;
        width: 40px;
        height: 40px;
        i {
            font-size: 1.0rem;
        }
    }
    .controls{
        .control{
            height: 40px;
            width: 40px;
            i {
                font-size: 1.0rem;
            }
        }
    }

    .main-btn .btn-text{
        padding: 0 10px;
    }

    .description h3 {
        font-size: 0.9rem;
    }

    .icons .icon{
            width: 35px;
            height: 35px;
            margin: 0 0.65rem;
            i {
                font-size: 1rem;
                color: variables.$white;
                margin: 0 1rem;
            }
    }

    .contact-content-con{
        padding-top: 1rem;
        .left-contact{
            h4 {
                font-size: 1.75rem;
            }

            p {
                margin: 0.5rem 0;
                line-height: 1.5rem;
            }
        }
        .right-contact{
            .input-control{
            margin: 0.75rem 0;
            flex-direction: column;
            }
            .i-c-2{
                :last-child {
                    margin-left: 0;
                    margin-top: 0.8rem;
                }
            }
        }
    }   
}

@media (max-width: 400px){
    .header-content {
            margin-top: 80px;
            .right-header {
                padding-top: 20px;
                width: 100%;
                .name {
                    font-size: 1.5rem;
                }
                p {
                    margin: .75rem 0;
                }
            }
    
            .left-header {
                padding-top: 50px;
                .image{
                    width: 100%;
                    margin-left: 0;
                }
            }
        }
        .theme-btn {
            right: 44.5%;
            width: 40px;
            height: 40px;
        }
        .about-info p {
            font-size: 0.8rem;
        }
        .tech-title{
            font-size: 0.7rem;
        }
        .icons-container .contact-icon i{
            font-size: 1.5rem;
        }

        section .wrapper h2 {
            font-size: 2rem;
        }
        section .wrapper .main-title .bg-text {
            font-size: 2.5rem;
        }

        .blogs-content .blogs .blog img{
            height: 200px;
        }
}