@use "./variables";

.section {
    transform: translateY(-100%) scale(0);
    transition: all .4s ease-in-out;
}

.sec1 {
    display: none;
    transform: translateY(0) scale(1);
    /* can give each section a different background color */

}

.sec2 {
    display: none;
    transform: translateY(0) scale(1);
}

.sec3 {
    display: none;
    transform: translateY(0) scale(1);

}

.sec4 {
    display: none;
    transform: translateY(0) scale(1);

}

.sec5 {
    display: none;
    transform: translateY(0) scale(1);
}

.active {
    display: block;
    animation: scaleAnim 1s ease-in-out;

    @keyframes scaleAnim {
        from {
            transform: translateY(-100%) scaleY(0)
        }

        to {
            transform: translateY(0) scaleY(1)
        }

    }
}