// Colour Palette for portfolio

$primary: #191d2b;
$secondary: #2292A4;
$tertiary: #BDBF09;
$quarternary: #D96C06;
$white: #ffffff;
$black: #000;
$grey0: #f8f8f8;
$grey-1: #dbe1e8;
$grey-2: #b2becd;
$grey-3: #6c7983;
$grey-4: #454e56;
$grey-4: #2a2e35;
$grey-5: #12181b;
$br-sm-2: 14px;
$box-shadow-1: 0 3px 15px rgba(0, 0, 0, 0.3);

:root {
    --color-font-header: #{$white};
    --color-page-background: #{$primary};
    --color-page-text: #{$grey-1};
    --color-main-bg-text: #{$grey-5};
    --color-main-text: #{$white};
    --color-blog-text: #{$grey-2};
    --color-blog-bg-text: #{$grey-5};
}

.light-mode {
    --color-font-header: #{black};
    --color-page-background: #{$white};
    --color-page-text: #{$grey-4};
    --color-main-bg-text: #{$grey-1};
    --color-main-text: #{$black};
    --color-blog-text: #{$grey-5};
    --color-blog-bg-text: #{$grey-2};
    //figure out why p is white everywhere
}