// Colour Palette for portfolio

$primary: #191d2b;
$secondary: #2292A4;
$tertiary: #BDBF09;
$white: #ffffff;
$black: #000;
$grey0: #f8f8f8;
$grey-1: #dbe1e8;
$grey-2: #b2becd;
$grey-3: #6c7983;
$grey-4: #454e56;
$grey-4: #2a2e35;
$grey-5: #12181b;
$br-sm-2: 14px;
$box-shadow-1: 0 3px 15px rgba(0, 0, 0, 0.3);