:root {
  --color-font-header: #ffffff;
  --color-page-background: #191d2b;
  --color-page-text: #dbe1e8;
  --color-main-bg-text: #12181b;
  --color-main-text: #ffffff;
  --color-blog-text: #b2becd;
  --color-blog-bg-text: #12181b;
}

.light-mode {
  --color-font-header: black;
  --color-page-background: #ffffff;
  --color-page-text: #2a2e35;
  --color-main-bg-text: #dbe1e8;
  --color-main-text: #000;
  --color-blog-text: #12181b;
  --color-blog-bg-text: #b2becd;
}

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  background-color: var(--color-page-background);
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  color: var(--color-main-text);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

p {
  font-size: 0.9rem;
  letter-spacing: 1px;
}

h1,
h2,
h3,
h4,
h5,
p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
}

img {
  max-width: 100%;
  display: block;
}

.wrapper {
  max-width: 1260px;
  width: 90%;
  margin: 0 auto;
}

section {
  min-height: 100vh;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 3rem 18rem;
}

.btn-con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.main-btn {
  border-radius: 30px;
  color: inherit;
  font-weight: 600;
  position: relative;
  border: 1px solid #2292A4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
      align-self: flex-start;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}
.main-btn .btn-text {
  padding: 0 2rem;
}
.main-btn .btn-icon {
  background-color: #2292A4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  padding: 1rem;
}
.main-btn::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  z-index: -1;
  width: 0;
  height: 100%;
}
.main-btn:hover::before {
  width: 100%;
  height: 100%;
  background-color: #2292A4;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}
img:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.main-title {
  text-align: center;
}
.main-title h2 {
  position: relative;
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 700;
}
.main-title h2 span {
  color: #2292A4;
}
.main-title h2 .bg-text {
  position: absolute;
  top: 50%;
  left: 50%;
  color: var(--color-main-bg-text);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  z-index: -1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-weight: 800;
  font-size: 6.3rem;
}

.theme-btn {
  top: 5%;
  right: 3%;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #2a2e35;
  cursor: pointer;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.theme-btn:active {
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
}
.theme-btn i {
  font-size: 1.4rem;
  color: #b2becd;
  pointer-events: none;
}

header {
  height: 100vh;
  color: var(--color-font-header);
  overflow: hidden;
}

.header-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100%;
}
.header-content .left-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.header-content .left-header .h-shape {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  width: 65%;
  height: 100%;
  background-color: #2292A4;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  -webkit-clip-path: polygon(0 0, 62% 0, 43% 100%, 0% 100%);
          clip-path: polygon(0 0, 62% 0, 43% 100%, 0% 100%);
}
.header-content .left-header .image {
  border-radius: 14px;
  height: 90%;
  width: 68%;
  margin-left: 4rem;
  background-color: #000;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.header-content .left-header .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}
.header-content .left-header .image img:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}
.header-content .right-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-right: 18rem;
}
.header-content .right-header .name {
  font-size: 3rem;
}
.header-content .right-header .name span {
  color: #2292A4;
}
.header-content .right-header p {
  margin: 1.5rem 0;
  line-height: 2rem;
}

.section {
  -webkit-transform: translateY(-100%) scale(0);
          transform: translateY(-100%) scale(0);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.sec1 {
  display: none;
  -webkit-transform: translateY(0) scale(1);
          transform: translateY(0) scale(1);
  /* can give each section a different background color */
}

.sec2 {
  display: none;
  -webkit-transform: translateY(0) scale(1);
          transform: translateY(0) scale(1);
}

.sec3 {
  display: none;
  -webkit-transform: translateY(0) scale(1);
          transform: translateY(0) scale(1);
}

.sec4 {
  display: none;
  -webkit-transform: translateY(0) scale(1);
          transform: translateY(0) scale(1);
}

.sec5 {
  display: none;
  -webkit-transform: translateY(0) scale(1);
          transform: translateY(0) scale(1);
}

.active {
  display: block;
  -webkit-animation: scaleAnim 1s ease-in-out;
          animation: scaleAnim 1s ease-in-out;
}
@-webkit-keyframes scaleAnim {
  from {
    -webkit-transform: translateY(-100%) scaleY(0);
            transform: translateY(-100%) scaleY(0);
  }
  to {
    -webkit-transform: translateY(0) scaleY(1);
            transform: translateY(0) scaleY(1);
  }
}
@keyframes scaleAnim {
  from {
    -webkit-transform: translateY(-100%) scaleY(0);
            transform: translateY(-100%) scaleY(0);
  }
  to {
    -webkit-transform: translateY(0) scaleY(1);
            transform: translateY(0) scaleY(1);
  }
}

/* Controls */
.controls {
  position: fixed;
  z-index: 10;
  top: 50%;
  right: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.controls .active-btn {
  background-color: #2292A4 !important;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.controls .active-btn i {
  color: #ffffff !important;
}
.controls .control {
  padding: 1rem;
  cursor: pointer;
  background-color: #2a2e35;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.7rem 0;
  -webkit-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
}
.controls .control i {
  font-size: 1.2rem;
  color: #b2becd;
  pointer-events: none;
}

.about-container, .skills-container, .icons-container {
  padding-top: 3.5rem;
  margin-top: 1.5rem;
}
.about-container .about-item, .skills-container .about-item, .icons-container .about-item {
  border: 1px solid #12181b;
  border-radius: 5px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.1);
}
.about-container .about-item:hover, .skills-container .about-item:hover, .icons-container .about-item:hover {
  cursor: default;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  border: 1px solid #2292A4;
  -webkit-box-shadow: 1px 4px 15px rgba(0, 0, 0, 0.32);
          box-shadow: 1px 4px 15px rgba(0, 0, 0, 0.32);
}

.icons-container .contact-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 1rem;
}
.icons-container .contact-icon i {
  font-size: 2rem;
}
.icons-container .contact-icon i:hover {
  color: #BDBF09;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.about-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.about-info p {
  line-height: 2rem;
  padding: 1rem;
  color: var(--color-page-text);
}
.about-info p a {
  color: #2292A4;
  text-transform: capitalize;
}
.about-info p a:hover {
  color: #D96C06;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.about-info h4 {
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  padding-top: 10px;
}
.about-info .btn-con {
  -ms-flex-item-align: center;
      align-self: center;
  padding-bottom: 10px;
}

.skills-container {
  padding-bottom: 4rem;
}
.skills-container .skills-title {
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  padding-top: 10px;
  position: relative;
}
.skills-container .tech-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.skills-container .tech-container .tech {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  margin: 10px;
  padding: 10px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.skills-container .tech-container .tech:hover {
  color: #D96C06;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.timeline {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  padding-bottom: 3rem;
}
.timeline .timeline-item {
  position: relative;
  padding-left: 3rem;
  border-left: 1px solid #12181b;
}
.timeline .timeline-item .tl-icon {
  position: absolute;
  left: -27px;
  top: 0;
  background-color: #2292A4;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.timeline .timeline-item .tl-icon i {
  font-size: 1.3rem;
}
.timeline .timeline-item .tl-duration {
  padding: 0.2rem 0.6rem;
  background-color: #12181b;
  border-radius: 15px;
  display: inline-block;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 500;
}
.timeline .timeline-item h5 {
  padding: 1rem 0;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 600;
}
.timeline .timeline-item h5 span {
  color: #b2becd;
  font-weight: 500;
  font-size: 1.2rem;
}

.port-text {
  padding: 2rem 0;
  text-align: center;
}

.portfolio-item {
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  margin-bottom: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.portfolio-item .project-image {
  position: relative;
  width: 45%;
  min-width: 320px;
}
.portfolio-item .project-image img {
  max-width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
  -o-object-position: center;
     object-position: center;
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}
.portfolio-item .project-image .hover-items {
  width: 100%;
  height: 100%;
  background-color: #BDBF09;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.portfolio-item .project-image .hover-items h3 {
  font-size: 1.5rem;
  color: #ffffff;
  margin-bottom: 1.5rem;
}
.portfolio-item .project-image .hover-items h3:hover {
  color: #D96C06;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.icons .icon {
  background-color: #191d2b;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0.75rem;
  cursor: pointer;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.icons .icon i {
  font-size: 1.5rem;
  color: #ffffff;
  margin: 0 1rem;
}
.icons .icon:hover {
  background-color: #ffffff;
}
.icons .icon:hover i {
  color: #191d2b;
}

.project-image:hover .hover-items {
  opacity: 0.8;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.text-container {
  width: 55%;
}
.text-container h3 {
  border-bottom: solid 4px #BDBF09;
  display: inline-block;
  cursor: pointer;
}
.text-container h3:hover {
  color: #2292A4;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.text-container p {
  margin: 10px 0;
  font-size: clamp(0.8rem, 2vw, 1.1rem);
}

.links {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}
.links a {
  margin-right: 30px;
  padding-bottom: 5px;
  gap: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.links a:hover {
  color: #D96C06;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.blogs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  margin-top: 3rem;
}
.blogs .blog {
  position: relative;
  background-color: var(--color-blog-bg-text);
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.blogs .blog:hover {
  -webkit-box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.3);
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.blogs .blog:hover img {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.8);
          box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.8);
}
.blogs .blog img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.blogs .blog .blog-text {
  margin-top: -7px;
  padding: 1.1rem;
}
.blogs .blog h4 {
  font-size: 1.5rem;
  margin-bottom: 0.7rem;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}
.blogs .blog h4:hover {
  color: #2292A4;
}
.blogs .blog p {
  color: var(--color-blog-text);
  line-height: 2rem;
  padding-bottom: 0.5rem;
}

.contact-content-con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 3.5rem;
}
.contact-content-con .left-contact {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}
.contact-content-con .left-contact h4 {
  margin-top: 1rem;
  font-size: 2rem;
  text-transform: uppercase;
}
.contact-content-con .left-contact p {
  margin: 1rem 0;
  line-height: 2rem;
}
.contact-content-con .left-contact .contact-info .contact-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contact-content-con .left-contact .contact-info p {
  margin: 0.3rem 0;
  padding: 0;
}
.contact-content-con .left-contact .contact-info i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.3rem;
}
.contact-content-con .left-contact .contact-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contact-content-con .left-contact .contact-icon a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  background-color: #12181b;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 0.4rem;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.contact-content-con .left-contact .contact-icon a:hover {
  background-color: #2292A4;
}
.contact-content-con .left-contact .contact-icon a:hover i {
  color: #191d2b;
}
.contact-content-con .left-contact .contact-icon a i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.3rem;
}
.contact-content-con .right-contact {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  margin-left: 3rem;
}
.contact-content-con .right-contact .input-control {
  margin: 1.5rem 0;
}
.contact-content-con .right-contact .input-control input, .contact-content-con .right-contact .input-control textarea {
  border-radius: 30px;
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
  padding: 0.8rem 1.1rem;
  outline: none;
  border: none;
  background-color: #12181b;
  width: 100%;
  color: #ffffff;
  resize: none;
}
.contact-content-con .right-contact .i-c-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contact-content-con .right-contact .i-c-2 :last-child {
  margin-left: 1.5rem;
}
.contact-content-con .right-contact .submit-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}